---
import Base from "../layouts/Base.astro";
---

<Base titre="Offres">
    <div
        class="container mx-auto mt-10 flex flex-col items-center md:flex-row justify-between"
    >
        <h1 class="text-red-800 font-extrabold text-6xl uppercase mb-8">
            Offres
        </h1>
        <img
            src="/src/assets/affiche1.jpg"
            alt="Image de l'affiche"
            class="w-full h-auto"
        />
        <img
            src="/src/assets/affiche2.jpg"
            alt="Image de l'affiche"
            class="w-full h-auto"
        />
        <img
            src="/src/assets/affiche3.jpg"
            alt="Image de l'affiche"
            class="w-full h-auto"
        />
    </div>
</Base>
