---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
import { allMaisons } from "../backend.mjs";
const visible = true;

const offres = await allMaisons ();
console.log('offres=',offres);
---

<Base titre="Offres">
    <div class="container mx-auto mt-10">
        <h1
            class="text-red-800 font-extrabold text-6xl uppercase text-center mb-10"
        >
            Offres
        </h1>

        <div x-data="{ showFavorites: false }" class="text-center">
            <div class="mb-6 flex justify-center gap-4">
                <button
                    @click="showFavorites = false"
                    :class="!showFavorites ? 'bg-blue-400' : 'bg-slate-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Afficher tout
                </button>
                <button
                    @click="showFavorites = true"
                    :class="showFavorites ? 'bg-blue-400' : 'bg-slate-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Afficher les favoris
                </button>
            </div>

            <div
                class="flex flex-wrap justify-center gap-8"
                x-show="!showFavorites"
            >
                {
                    offres.map((offre) => (
                        <div
                            class="w-80"
                        >
                            <Card key={offre.id} {...offre} />
                        </div>
                    ))
                }
            </div>
            <div
                class="flex flex-wrap justify-center gap-8"
                x-show="showFavorites"
            >
                {
                    offres.map((offre) => (
                        <div
                            class="w-80"
                        >
                            {offre.favori && <Card key={offre.id} {...offre} />}
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Base>
