---
import Base from "../layouts/Base.astro";
import Card from "../components/Card.astro";
const visible = true;

const offres = [
    {
        adresse: "2821 Lake Sevilla, Palm Harbor, TX",
        favori: true,
        id: "64l3n8nar836i5j",
        nbChambres: 4,
        nbSdb: 2,
        nomMaison: "Beverly Springfield",
        prix: 2700,
        surface: 45,
        imgUrl: "maison1.jpg",
    },
    {
        adresse: "2699 Green Valley, Highland Lake",
        favori: true,
        id: "lo831zeg10hpm9y",
        nbChambres: 4,
        nbSdb: 2,
        nomMaison: "Palm Harbor",
        prix: 2095,
        surface: 42,
        imgUrl: "maison2.jpg",
    },
    {
        adresse: "909 Woodland St, Michigan, IN",
        favori: false,
        id: "s1zuhj19x8eb242",
        nbChambres: 4,
        nbSdb: 3,
        nomMaison: "Faulkner Ave",
        prix: 4550,
        surface: 80,
        imgUrl: "maison3.jpg",
    },
];
---

<Base titre="Offres">
    <div class="container mx-auto mt-10">
        <h1
            class="text-red-800 font-extrabold text-6xl uppercase text-center mb-10"
        >
            Offres
        </h1>

        <div x-data="{ showFavorites: false }" class="text-center">
            <div class="mb-6 flex justify-center gap-4">
                <button
                    @click="showFavorites = false"
                    :class="!showFavorites ? 'bg-blue-400' : 'bg-slate-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Afficher tout
                </button>
                <button
                    @click="showFavorites = true"
                    :class="showFavorites ? 'bg-blue-400' : 'bg-slate-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Afficher les favoris
                </button>
            </div>

            <div
                class="flex flex-wrap justify-center gap-8"
                x-show="!showFavorites"
            >
                {
                    offres.map((offre) => (
                        <div
                            class="w-80"
                        >
                            <Card key={offre.id} {...offre} />
                        </div>
                    ))
                }
            </div>
            <div
                class="flex flex-wrap justify-center gap-8"
                x-show="showFavorites"
            >
                {
                    offres.map((offre) => (
                        <div
                            class="w-80"
                        >
                            {offre.favori && <Card key={offre.id} {...offre} />}
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Base>
