---
import Base from "../../layouts/Base.astro";
import Card from "../../components/Card.astro";
import { allMaisons } from "../../backend.mjs";

const offres = await allMaisons();
console.log('offres =', offres);
---

<Base titre="Offres">
    <div class="container mx-auto mt-10 px-4">
        <h1 class="text-red-800 font-extrabold text-6xl uppercase text-center mb-10">
            Offres
        </h1>

        <a 
        href="/offres/surface/80" 
        class="bg-blue-600 text-white font-semibold px-5 py-2 rounded-lg shadow-md hover:bg-blue-700 transition duration-300"
    >
        Maisons de plus de 80 m²
    </a>

        <div x-data="{ showFavorites: false, viewMode: 'grid' }" class="text-center">
            
            <div class="mb-6 flex justify-center gap-4">
                <button
                    @click="showFavorites = false"
                    :class="!showFavorites ? 'bg-blue-400' : 'bg-slate-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Afficher tout
                </button>
                <button
                    @click="showFavorites = true"
                    :class="showFavorites ? 'bg-blue-400' : 'bg-slate-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Afficher les favoris
                </button>
                <a href="/offres/add" 
                class="bg-blue-500 text-white font-semibold px-5 py-2 rounded-lg shadow-md hover:bg-blue-700 transition duration-300">
                    Ajouter une offre
                </a>

            </div>

            <div class="mb-6 flex justify-center gap-4">
                <button
                    @click="viewMode = 'grid'"
                    :class="viewMode === 'grid' ? 'bg-green-500' : 'bg-gray-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Affichage Grille
                </button>
                <button
                    @click="viewMode = 'list'"
                    :class="viewMode === 'list' ? 'bg-green-500' : 'bg-gray-400'"
                    class="text-white px-4 py-2 rounded"
                >
                    Affichage Liste
                </button>
            </div>

            <div 
                :class="viewMode === 'grid' 
                        ? 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8' 
                        : 'flex flex-col gap-4'">
                
                {offres.map((offre) => (
                    <div 
                        x-show="!showFavorites || offre.favori" 
                        :class="viewMode === 'grid' ? 'w-full' : 'w-full flex items-center gap-4 border p-4 rounded-lg'"
                    >
                        <Card key={offre.id} {...offre} />
                    </div>
                ))}
            </div>
        </div>
    </div>
</Base>
